<h1>Hello!</h1>
<br>
<h2>Here you can check the requests attributted to you and take action</h2>
<br>
<br>
<br>

<br>

<table class='table table-hover table-bordered text-center'>
	<tr>
		<thead class = 'thead-dark'>
			<th class="w-auto">Date of request</th>
			<th>Status</th>
			<th>Product</th>
			<th>Market Price</th>
			<th>Owner</th>
			<th>Analyst</th>
			<th>Documents</th>
			<th>Actions</th>
		</thead>
	</tr>
	<tbody>
		<% @requests.each do |request| %>
			<tr>
				<td><%= request.created_at.strftime('%b %d, %Y')%></td>
				<td><%= request.status.status %></td>
				<td><%= request.product.name %></td>
				<td>
					<%= form_for request.product do |f| %>
						<%= f.text_field :market_price, class: 'text-center' %>
						<%= f.submit 'update', class: 'btn btn-secondary btn-sm' %>
					<% end %>
				</td>
				<td><%= request.owner.username %></td>
				<% if request.analyst %>
					<td><%= request.analyst.username %></td>
				<% else %>
					<td></td>
				<% end %>
				<td>
					<ul>
						<% request.documents.each do |document| %>
							<li><%= document.document_name %></li>
						<% end %>
					</ul>
					<%= link_to 'Upload document', '/test', class: 'btn btn-info' %>
					<!-- the below will be used for uploading documents
						<%= form_for current_user do |f| %>
								<%= f.file_field :documents, class: 'btn btn-info'  %>
						<% end %>
					-->
				</td>
				<td>
					<div class="dropdown">
						<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Action
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
							<%= link_to 'Advance status', "#{admin_request_path(request)}?status=advance", method: :patch, class: 'dropdown-item' %>
							<%= link_to 'Undo status', "#{admin_request_path(request)}?status=back", method: :patch, class: 'dropdown-item' %>
							<% if @user.admin_master?%>
								<div class="dropdown-divider"></div>
								<% User.analysts.each do |analyst| %>
									<%= link_to "Assign #{analyst.name}", "#{admin_request_path(request)}?analyst=#{analyst.id}", method: :patch, class: 'dropdown-item' %>
								<% end %>
							<% end %>
						</div>
					</div>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>