<% @admin_user.errors.full_messages.each do |erro|%>
	<div class='alert alert-danger'>
		<%= erro %>
	</div>
<% end %>



<div class="container col-md-4 col-md-offset-4 centered">
	<%= form_for @admin_user, url: admin_users_path, html: {class: 'text-center border border-light p-5'} do |f| %>
			<p class="h4 mb-4 ">Create a new user</p>
			<%= f.text_field :name, class: 'form-control mb-4', placeholder: "Name", required: true %>
			<%= f.text_field :username, class: 'form-control mb-4', placeholder: "username", required: true %>
			<%= f.password_field :password, class: 'form-control mb-4', placeholder: "Password", required: true %>
			<%= f.telephone_field :phone, class: 'form-control mb-4', placeholder: "Phone #" %>
			<%= f.collection_select :role_id, Role.where("role LIKE 'admin%'"), :id, :role, {}, {class: 'form-control mb-4'} %>
			<%= f.submit "Create User", class: 'btn btn-info my-4 btn-block'%>
	<% end %>
</div>
